<div class="text-center">
<h2 class="text-3xl underline"><%= @blog_post.title %></h2>
<p class="mb-12 mt-4"><%= @blog_post.body %></p>
<%= link_to "All Blog Posts", root_path, class: "bg-indigo-500 text-white py-2 px-4 rounded-md " %>
</div>